In [114]:
import pandas as pd
import numpy as np

In [115]:
df=pd.read_csv("data/final_zomato.csv")

In [116]:
df

,Unnamed: 0,Restaurant_id,name,urls,ratings,price for one,cuisine,delivery_reviews_Count,restaurant_address,Latitude,Longtitude
0,0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Arabian,1892,"Vijay Nagar, Bangalore",12.959769,77.531760
1,1,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Biryani,1892,"Vijay Nagar, Bangalore",12.959769,77.531760
2,2,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,North Indian,1892,"Vijay Nagar, Bangalore",12.959769,77.531760
3,3,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Chinese,1892,"Vijay Nagar, Bangalore",12.959769,77.531760
4,4,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Fast Food,1892,"Vijay Nagar, Bangalore",12.959769,77.531760
...,...,...,...,...,...,...,...,...,...,...,...
2090,2090,R517,S M V Snacks Corner,https://www.zomato.com/bangalore/s-m-v-snacks-...,4.1,150,Ice Cream,432,"Basavanagudi, Bangalore",12.949010,77.574383
2091,2091,R517,S M V Snacks Corner,https://www.zomato.com/bangalore/s-m-v-snacks-...,4.1,150,Desserts,432,"Basavanagudi, Bangalore",12.949010,77.574383
2092,2092,R517,S M V Snacks Corner,https://www.zomato.com/bangalore/s-m-v-snacks-...,4.1,150,Sichuan,432,"Basavanagudi, Bangalore",12.949010,77.574383
2093,2093,R518,Just Bake - Cakes & Confectioners,https://www.zomato.com/bangalore/just-bake-cak...,3.3,150,Bakery,697,"BTM, Bangalore",12.924064,77.614822
2094,2094,R518,Just Bake - Cakes & Confectioners,https://www.zomato.com/bangalore/just-bake-cak...,3.3,150,Desserts,697,"BTM, Bangalore",12.924064,77.614822

In [117]:
df.drop(['Unnamed: 0', 'Restaurant_id', 'name', 'urls', 'Latitude','Longtitude'],axis=1,inplace=True)

In [118]:
df.head()

,ratings,price for one,cuisine,delivery_reviews_Count,restaurant_address
0,3.5,250,Arabian,1892,"Vijay Nagar, Bangalore"
1,3.5,250,Biryani,1892,"Vijay Nagar, Bangalore"
2,3.5,250,North Indian,1892,"Vijay Nagar, Bangalore"
3,3.5,250,Chinese,1892,"Vijay Nagar, Bangalore"
4,3.5,250,Fast Food,1892,"Vijay Nagar, Bangalore"

In [120]:
df['c']=df['cuisine']
df['address']=df['restaurant_address']

In [121]:
df

,ratings,price for one,cuisine,delivery_reviews_Count,restaurant_address,c,address
0,3.5,250,Arabian,1892,"Vijay Nagar, Bangalore",Arabian,"Vijay Nagar, Bangalore"
1,3.5,250,Biryani,1892,"Vijay Nagar, Bangalore",Biryani,"Vijay Nagar, Bangalore"
2,3.5,250,North Indian,1892,"Vijay Nagar, Bangalore",North Indian,"Vijay Nagar, Bangalore"
3,3.5,250,Chinese,1892,"Vijay Nagar, Bangalore",Chinese,"Vijay Nagar, Bangalore"
4,3.5,250,Fast Food,1892,"Vijay Nagar, Bangalore",Fast Food,"Vijay Nagar, Bangalore"
...,...,...,...,...,...,...,...
2090,4.1,150,Ice Cream,432,"Basavanagudi, Bangalore",Ice Cream,"Basavanagudi, Bangalore"
2091,4.1,150,Desserts,432,"Basavanagudi, Bangalore",Desserts,"Basavanagudi, Bangalore"
2092,4.1,150,Sichuan,432,"Basavanagudi, Bangalore",Sichuan,"Basavanagudi, Bangalore"
2093,3.3,150,Bakery,697,"BTM, Bangalore",Bakery,"BTM, Bangalore"
2094,3.3,150,Desserts,697,"BTM, Bangalore",Desserts,"BTM, Bangalore"

In [122]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [123]:
for i in ['cuisine','restaurant_address']:
 df[i]=le.fit_transform(df[i])

In [124]:
df

,ratings,price for one,cuisine,delivery_reviews_Count,restaurant_address,c,address
0,3.5,250,69,1892,65,Arabian,"Vijay Nagar, Bangalore"
1,3.5,250,9,1892,65,Biryani,"Vijay Nagar, Bangalore"
2,3.5,250,44,1892,65,North Indian,"Vijay Nagar, Bangalore"
3,3.5,250,15,1892,65,Chinese,"Vijay Nagar, Bangalore"
4,3.5,250,20,1892,65,Fast Food,"Vijay Nagar, Bangalore"
...,...,...,...,...,...,...,...
2090,4.1,150,25,432,6,Ice Cream,"Basavanagudi, Bangalore"
2091,4.1,150,18,432,6,Desserts,"Basavanagudi, Bangalore"
2092,4.1,150,57,432,6,Sichuan,"Basavanagudi, Bangalore"
2093,3.3,150,73,697,2,Bakery,"BTM, Bangalore"
2094,3.3,150,18,697,2,Desserts,"BTM, Bangalore"

In [125]:
x=df.drop(['price for one','c','address'],axis=1)
x

      ratings  cuisine  delivery_reviews_Count  restaurant_address
0         3.5       69                    1892                  65
1         3.5        9                    1892                  65
2         3.5       44                    1892                  65
3         3.5       15                    1892                  65
4         3.5       20                    1892                  65
...       ...      ...                     ...                 ...
2090      4.1       25                     432                   6
2091      4.1       18                     432                   6
2092      4.1       57                     432                   6
2093      3.3       73                     697                   2
2094      3.3       18                     697                   2

[2095 rows x 4 columns]

In [126]:
y=df['price for one']
y

0       250
1       250
2       250
3       250
4       250
       ...
2090    150
2091    150
2092    150
2093    150
2094    150
Name: price for one, Length: 2095, dtype: int64

In [127]:
from sklearn.model_selection import train_test_split

In [128]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [129]:
x_train

      ratings  cuisine  delivery_reviews_Count  restaurant_address
1380      3.8       44                    8278                  40
645       4.2      104                     120                  47
1720      3.6      101                     744                  38
481       3.6       54                    5984                  46
643       4.0       42                    2039                  48
...       ...      ...                     ...                 ...
1071      4.2      106                     173                  11
433       4.1       15                   56900                  22
674       4.2       20                     315                  58
1099      3.6       53                    1108                  50
1608      3.7       58                    2653                   2

[1676 rows x 4 columns]

In [130]:
# Decision tree model

In [131]:
from sklearn.tree import DecisionTreeClassifier
dc=DecisionTreeClassifier()

In [132]:
dc.fit(x_train,y_train)

DecisionTreeClassifier()

In [133]:
y_pred=dc.predict(x_test)

In [134]:
y_pred

array([100, 200, 150, 150, 250, 150, 300, 200, 150, 150, 200, 150, 200,
       200, 200, 100, 150, 150, 250,  50, 200, 100,  50, 250, 100, 200,
       200, 150, 150, 150, 250, 300, 250, 150, 200, 150, 200, 100,  50,
       150,  50, 300, 100, 250, 150, 300, 200, 250, 200, 100, 150,  50,
       100, 150, 200, 150, 250, 200, 150, 150, 250, 250, 250, 200,  50,
       300, 100, 100, 100, 150, 150,  50, 200, 250, 250, 150, 250, 250,
       250, 150, 100, 100, 200, 350, 200, 100, 150, 250, 150, 300, 200,
       100,  50,  50, 200, 200, 200, 250,  50, 100,  50, 150, 150, 300,
       200, 300, 250, 200, 300, 100, 100, 150, 150, 300, 200, 100,  50,
       200, 100,  50, 200, 250, 200, 150, 200, 150, 150, 150, 150, 150,
       250, 250, 250,  50, 100, 200, 100, 200, 100, 150, 250, 250, 200,
       250, 250, 300, 100, 150, 200, 300, 150,  50, 150, 250, 150, 150,
       150, 200, 100, 100, 200, 200, 200, 200, 250, 200, 200, 100, 150,
        50, 200, 100, 200, 100, 200, 200, 200, 250, 100, 150, 150, 150,
       300, 150, 150, 200, 150, 150, 200, 100, 200, 200, 250, 150, 150,
       200, 200, 150, 100, 200, 250,  50, 200, 150, 200, 150, 200, 150,
       200, 100, 150, 150, 250, 200, 250, 300, 150, 250, 250, 200, 250,
       300, 250, 350, 350, 150, 150, 300, 200, 150, 250, 100, 200, 150,
       200, 250, 200, 100, 200, 100, 200, 150, 150, 100, 200, 100, 300,
       150, 100, 200, 250, 100, 250, 100, 250,  50, 350, 200,  50, 200,
       150, 100, 200, 350, 250, 150, 250, 250, 300, 250,  50, 250, 200,
       100, 200, 200, 200, 200, 350, 200, 200, 300, 150, 200, 250, 100,
       300, 200, 200, 100, 300,  50, 100, 150, 200, 350, 200,  50, 100,
       150, 200, 150, 250, 150, 200, 250, 200, 150, 300, 100, 200, 250,
       200, 350, 150, 100, 250, 200, 250, 200, 100, 200, 200, 100, 200,
       150, 200, 200, 150, 200,  50, 250, 250,  50, 200, 150,  50, 350,
       100, 100, 200, 200, 150, 150, 150, 250, 250, 150, 250,  50, 200,
       200, 250, 100, 150, 150, 200, 350, 250, 250, 200, 250, 100, 150,
       250, 150, 150, 150, 150, 300, 150, 150, 250, 150, 250, 250, 150,
       250, 150, 250, 250, 150, 100, 250, 150, 250, 350, 100, 100, 150,
       300, 200, 150, 150, 350, 200, 200, 150, 150, 200, 250, 150, 150,
       200, 200, 250, 150, 150, 100, 350, 150, 100, 100, 200,  50, 200,
       150, 100, 250], dtype=int64)

In [135]:
from sklearn.metrics import confusion_matrix

In [136]:
confusion_matrix(y_test,y_pred)

array([[ 26,   0,   1,   2,   0,   0,   0],
       [  1,  53,   0,   1,   0,   2,   2],
       [  0,   3, 103,   2,   0,   0,   0],
       [  0,   2,   4, 100,   1,   0,   1],
       [  0,   0,   0,   2,  74,   0,   0],
       [  0,   2,   0,   1,   0,  22,   0],
       [  0,   2,   0,   2,   0,   0,  10]], dtype=int64)

In [137]:
from sklearn.metrics import accuracy_score

In [138]:
accuracy_score(y_test,y_pred)

0.9260143198090692

In [139]:
# Random forest model

In [140]:
no_of_decisiontrees=[10,20,30,40,50,60,70,80,90,100]
max_no_of_features=['sqrt','log2']
max_depth_of_decisiontree=[10,11,12,13,14,15,16,17,18,19,20,22,24,26,28,30]
criterion_decisiontree=['gini','entropy']
min_sample_split=[2,3,4,5,6,7,8,9,10]

In [141]:
random_grid={
    'n_estimators':no_of_decisiontrees,
    'max_features':max_no_of_features,
    'max_depth':max_depth_of_decisiontree,
    'criterion':criterion_decisiontree,
    'min_samples_split':min_sample_split
}

In [142]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [143]:
from sklearn.model_selection import RandomizedSearchCV

In [144]:
rscv=RandomizedSearchCV(estimator=rf,param_distributions=random_grid,n_jobs=-1)

In [145]:
rscv.fit(x_train,y_train)

RandomizedSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [10, 11, 12, 13, 14, 15,
                                                      16, 17, 18, 19, 20, 22,
                                                      24, 26, 28, 30],
                                        'max_features': ['sqrt', 'log2'],
                                        'min_samples_split': [2, 3, 4, 5, 6, 7,
                                                              8, 9, 10],
                                        'n_estimators': [10, 20, 30, 40, 50, 60,
                                                         70, 80, 90, 100]})

In [146]:
rscv.best_params_

{'n_estimators': 80,
 'min_samples_split': 2,
 'max_features': 'log2',
 'max_depth': 20,
 'criterion': 'entropy'}

In [147]:
rf_final=RandomForestClassifier(n_estimators=80,min_samples_split=2,max_features='log2',max_depth=20,criterion='entropy')

In [148]:
rf_final.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=20, max_features='log2',
                       n_estimators=80)

In [149]:
y_pred_final=rf_final.predict(x_test)

In [150]:
y_pred_final

array([100, 100, 150, 150, 250, 150, 300, 200, 150, 150, 200, 150, 150,
       200, 200, 100, 150, 150, 250,  50, 200, 100,  50, 250, 100, 200,
       100, 150, 150, 150, 250, 300, 250, 150, 200, 150, 200, 100,  50,
       150,  50, 300, 100, 250, 150, 150, 200, 250, 200, 300, 150,  50,
       100, 150, 200, 150, 250, 200, 150, 150, 250, 250, 250, 200,  50,
       300, 100, 100, 100, 150, 150,  50, 150, 250, 250, 150, 250, 250,
       250, 150, 100, 100, 200, 350, 200, 100, 150, 250, 150, 300, 200,
       200,  50,  50, 200, 200, 200, 250,  50, 100,  50, 150, 150, 300,
       200, 100, 250, 200, 300, 100, 100, 150, 150, 300, 200, 100,  50,
       200, 100,  50, 150, 250, 200, 150, 200, 150, 150, 200, 150, 150,
       250, 250, 250,  50, 100, 200, 100, 200, 100, 150, 250, 250, 200,
       250, 250, 300, 100, 150, 200, 300, 150,  50, 150, 250, 150, 150,
       200, 200, 100, 150, 200, 200, 200, 200, 250, 200, 200, 200, 150,
        50, 200, 100, 200, 100, 200, 200, 200, 250, 100, 150, 150, 150,
       300, 150, 150, 200, 150, 150, 200, 100, 200, 200, 250, 150, 150,
       200, 200, 100, 100, 200, 250,  50, 200, 150, 200, 150, 200, 150,
       200, 100, 150, 150, 250, 200, 250, 300, 150, 250, 250, 200, 150,
       300, 250, 350, 350, 150, 150, 300, 200, 150, 250, 100, 200, 150,
       200, 250, 200,  50, 200, 100, 200, 150, 150, 100, 200, 100, 250,
       150, 100, 200, 250, 100, 250, 150, 250,  50, 350, 200,  50, 200,
       150, 100, 250, 350, 250, 150, 250, 250, 300, 250,  50, 250, 200,
       100, 200, 200, 200, 200, 100, 200, 200, 300, 150, 200, 250, 100,
       300, 200, 200, 300, 300, 200, 100, 150, 200, 350, 200,  50, 100,
       150, 200, 150, 250, 150, 200, 250, 200, 150, 300, 100, 200, 250,
       200, 350, 150, 100, 250, 200, 250, 200, 100, 200, 200, 100, 200,
       150, 200, 200, 150, 200, 250, 250, 250,  50, 200, 150,  50, 200,
       100, 100, 200, 200, 150, 150, 200, 250, 250, 150, 250,  50, 200,
       200, 250, 100, 100, 150, 200, 350, 250, 250, 200, 250, 100, 150,
       250, 150, 150, 150, 150, 300, 150, 150, 250, 150, 250, 250, 150,
       150, 150, 250, 250, 150, 100, 200, 150, 250, 100, 100, 200, 150,
       300, 200, 150, 150, 350, 200, 200, 150, 150, 200, 250, 150, 150,
       200, 200, 250, 150, 150, 100, 350, 150, 100, 100, 200,  50, 200,
       150, 100, 250], dtype=int64)

In [151]:
accuracy_score(y_test,y_pred_final)

0.9427207637231504

Accuracy of decision tree model is 92% while of random forest is 93%.

In [152]:
import pickle
# # Saving model to disk
pickle.dump(rf_final, open('model.pkl','wb'))

In [153]:
model=pickle.load(open('model.pkl','rb'))
print(y_pred)

[100 200 150 150 250 150 300 200 150 150 200 150 200 200 200 100 150 150
 250  50 200 100  50 250 100 200 200 150 150 150 250 300 250 150 200 150
 200 100  50 150  50 300 100 250 150 300 200 250 200 100 150  50 100 150
 200 150 250 200 150 150 250 250 250 200  50 300 100 100 100 150 150  50
 200 250 250 150 250 250 250 150 100 100 200 350 200 100 150 250 150 300
 200 100  50  50 200 200 200 250  50 100  50 150 150 300 200 300 250 200
 300 100 100 150 150 300 200 100  50 200 100  50 200 250 200 150 200 150
 150 150 150 150 250 250 250  50 100 200 100 200 100 150 250 250 200 250
 250 300 100 150 200 300 150  50 150 250 150 150 150 200 100 100 200 200
 200 200 250 200 200 100 150  50 200 100 200 100 200 200 200 250 100 150
 150 150 300 150 150 200 150 150 200 100 200 200 250 150 150 200 200 150
 100 200 250  50 200 150 200 150 200 150 200 100 150 150 250 200 250 300
 150 250 250 200 250 300 250 350 350 150 150 300 200 150 250 100 200 150
 200 250 200 100 200 100 200 150 150 100 200 100 300 150 100 200 250 100
 250 100 250  50 350 200  50 200 150 100 200 350 250 150 250 250 300 250
  50 250 200 100 200 200 200 200 350 200 200 300 150 200 250 100 300 200
 200 100 300  50 100 150 200 350 200  50 100 150 200 150 250 150 200 250
 200 150 300 100 200 250 200 350 150 100 250 200 250 200 100 200 200 100
 200 150 200 200 150 200  50 250 250  50 200 150  50 350 100 100 200 200
 150 150 150 250 250 150 250  50 200 200 250 100 150 150 200 350 250 250
 200 250 100 150 250 150 150 150 150 300 150 150 250 150 250 250 150 250
 150 250 250 150 100 250 150 250 350 100 100 150 300 200 150 150 350 200
 200 150 150 200 250 150 150 200 200 250 150 150 100 350 150 100 100 200
  50 200 150 100 250]

In [159]:
df[['cuisine','c','restaurant_address','address']].drop_duplicates().to_csv('required.csv')